body {
  color: white;
  background-color: black
  ;
}



h5{ text-align: center;}



h6{ color: white;
font-size: 18px;
font-family: cursed;
position: absolute ;
bottom: 5px;
right: 20px;



}

h7{ color: white;
font-size: 20px;
font-family: cursed;
 
}
@font-face {
  font-family:cursed ;
  src: url(../daisybud_script/DaisybudScript.otf);
}

h1 {text-align: center;}
p  {text-align: center;}
.invisivel{
    display:none;
  }
  .visivel{
    display:inline;
  }
  .inicial {
    color: aliceblue;
    text-align: center;
    background-color: rgb(19, 23, 243);
    width: 150px;
    height: 200px;
    border: 15px solid rgb(224, 10, 243);
    padding: 10px;
    margin: 20px;
  }
  .acertou {
    text-align: center;
    color: yellow;
    background-color: LawnGreen;
    width: 150px;
    height: 200px;
    border: 15px solid yellow;
    padding: 10px;
    margin: 20px;
  }
  .errou {
    text-align: center;
    color: white;
    background-color: red;
    width: 150px;
    height: 200px;
    border: 15px solid black;
    padding: 10px;
    margin: 20px;
  }